.jumbotron.search {
    border-radius: 0px 0px 5px 5px;
    padding-top:15px;
    padding-bottom:15px;
}

main .main-container:first-child {
    margin-top:56px;
}
main .main-container.additionalMargin {
    margin-top:5em;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.box-shadow:hover {
    text-decoration: none;
}
.box-shadow h5 {
    color:#000;
}